{% extends "HugoPlatformBundle::layout_home.html.twig" %}

{% block hugoplatform_body %}

			<div class="prez">
			<h2 class="titre"><em>A</em>sk <em>A</em>ny <em>Q</em>uestions</h2>
			<p class='text'>Thanks to an algorythm, SaveYourself is able to save you in any situation. Check the objects you have to hand, select a climate, and we give you a list of savies that you can build thanks to detailed tutorials. Let us help you !</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>A</em> <em>S</em>avies ? <em>W</em>hat's <em>T</em>his ?</h2>
			<p class='rep'>A Savies is the objets you get by combining the materials you have thaks to the tutorials. It can save your life !</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>W</em>here <em>C</em>an <em>I</em> <em>P</em>ropose <em>A</em> <em>S</em>avie ?</h2>
			<p class='rep'>SaveYourself is, first of all, a sharing site. If you have a Savies to propose, please, don't hésistate ! You can add your savies il the "PLUS" part of the menu.</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>S</em>aveyourself, <em>I</em>t's <em>P</em>aying ?</h2>
			<p class='rep'>Absolutely not. It's free and always will be!</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>O</em>ne <em>M</em>obile <em>A</em>pplications?</h2>
			<p class='rep'>Mobile applications may have significantly different features from those proposed on the website. They are also likely to change quickly, so we do not detail here all their specificities.</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>H</em>ow <em>t</em>o <em>a</em>ccess <em>f</em>rom <em>a</em> <em>p</em>hone ?</h2>
			<p class='rep'>Of course, SaveYourself is accessible from a mobile. Even if the mobile version of the site is not perfect, we're actually taking care of it, and doing our best to make it the more fonctional possible. But we soon wil have an application !</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>S</em>elect what <em>Y</em>ou have at <em>H</em>and</h2>
			<p class='rep'>Thanks to an algorythm, SaveYourself is able to save you in any situation. Check the objects you have to hand, select a climate, and we give you a list of savies that you can build thanks to detailed tutorials. Let us help you !</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>S</em>elect what <em>Y</em>ou have at <em>H</em>and</h2>
			<p class='rep'>Thanks to an algorythm, SaveYourself is able to save you in any situation. Check the objects you have to hand, select a climate, and we give you a list of savies that you can build thanks to detailed tutorials. Let us help you !</p>
		</div>
		<br>
		<div class="question">
			<h2 class="quest"><em>S</em>elect what <em>Y</em>ou have at <em>H</em>and</h2>
			<p class='rep'>Thanks to an algorythm, SaveYourself is able to save you in any situation. Check the objects you have to hand, select a climate, and we give you a list of savies that you can build thanks to detailed tutorials. Let us help you !</p>
		</div>
		<br>

{% endblock %}