<ul class="nav nav-pills nav-stacked">
  {% for advert in listAdverts %}
    <li>
      <a href="{{ path('hugo_platform_view', {'slug': advert.slug}) }}">
        {{ advert.title }}
      </a>
    </li>
  {% endfor %}
</ul>